body{
    margin: 5%;
    padding: 5%;
    height: 100%;
    background-size: cover;
    background-image: url("http://img.daimajiayuan.com/uploads/allimg/1304/1-130422131615.png");
    background-position: center;
    background-repeat: no-repeat;
    font:normal 100% Optima, sans-serif;
}

h1{font-size: 1.5em}
