body{
    margin: 0%;
    padding: 4.5%;
    height: 100%;
    /*background: linear-gradient(to bottom right,#50a3a2,#53e3a6);
    background: -webkit-linear-gradient(to bottom right,#50a3a2,#53e3a6);
    background-color: whitesmoke;
    */
    background-image:url(https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font:normal 100% Optima, sans-serif;
}

canvas {
	display:block;
}

.title {
    /*background: linear-gradient(to bottom right,#50a3a2,#53e3a6);*/
    background-color:black;
    opacity:0.55;
    width: 90%;
    text-align: center;
    color:whitesmoke;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

#test{
  height: 70px;
  width: 80%;
  background-color:white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color:black;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

#trace{
  height: 70px;
  width: 80%;
  background-color:white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color:black;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

#retour{
  height: 50px;
  width: 50%;
  background-color:white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color:black;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

#tracebt{
  height: 50px;
  width: 50%;
  background-color:white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color:black;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.testbt {
    text-align:center;
    margin: 0% auto;
}

.trace {
    text-align:center;
    margin: 0% auto;
}

.tracebt {
    text-align:center;
    margin: 0% auto;
}

.retour {
    text-align:center;
    margin: 0% auto;
}

.warning {
    background-color: red;
    color:white;
    width: 90%;
    text-align:center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.success {
    background-color: green;
    color:white;
    width: 90%;
    text-align: center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.sdata {
  margin:0% auto;
  background-color: white;
  width: 90%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.motcle {
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.recherche {
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.graph {
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.panel {
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(80, 76, 76, 0.842);
}

.panel h2,h3,h4,h5,h6{
    text-align: center;
    font: normal 100% Optima, sans-serif;
}

.panel input {
    -web-kit-appearance:none;
    -moz-appearance: none;
    border:1px solid #c8cccf;
    color:#6a6f77;
    outline: 0;
    font-family:arial, sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #6a6f77;
}
input::-webkit-input-placeholder{
    color: #6a6f77;
}
